<table>
  <tr>
    <th>SKU</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% products.forEach(product => { %>
    <tr>
      <td><%= product.sku %></td>
      <td><%= product.name %></td>
      <td>$<%= product.price %></td>
    </tr>
  <% }) %>
</table>